﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="AMT2.MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
      <title>Apprentice Management Tool</title>
</head>
<body style="height: 40px">
      <!--Nav Bar -->
        <link href="Styles.css" rel="stylesheet" />
            <div class ="navbar">
                <a href="Home.aspx">Home</a>
                <a href="WorkPlacement.aspx">Placement</a>
                <a href="ContactPage.aspx">Contact</a>
                <div class="dropdown" style="float: right">
                    <button class="dropdownbtn">Account</button>
                    <div class="dropdown-content">
                        <a href="Logout.aspx">Logout</a>
                        <a href="ChangePassword.aspx">Change Password</a>
                    </div>
                </div>
            </div>
        
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
        var connection = new Firebase('https://apprentice-management-tool.firebaseio.com');


      var firebaseConfig = {
        apiKey: "AIzaSyDWdYRh2X01RkJFPtR0lm_Wbg9RR9SHzgY",
        authDomain: "apprentice-management-tool.firebaseapp.com",
        databaseURL: "https://apprentice-management-tool.firebaseio.com",
        projectId: "apprentice-management-tool",
        storageBucket: "apprentice-management-tool.appspot.com",
        messagingSenderId: "444734276504",
        appId: "1:444734276504:web:ef054f46808f9c1a4761ed",
        measurementId: "G-D6N44E6J79"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>

</body>
</html>
