﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Reg.master.cs" Inherits="AMT2.Reg" %>

<!DOCTYPE html>

<html>
<head runat="server">
      <title>Apprentice Management Tool</title>
</head>
<body style="height: 44px">
      <!--Nav Bar -->
        <link href="Styles.css" rel="stylesheet" />
            <div class ="navbar">
                <div class="dropdown" style="float: right">
                    <a class="dropdownbtn" href="Login_Page.aspx">Login</a>
                </div>
            </div>
            


    <form id="form1" runat="server" enableviewstate="true">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" EnableViewState="true" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>


</body>
</html>
