﻿.navbar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: #3D4146;
}

.navbar a {
    float: left;
    font-size: 16px;
    font-family: Tahoma;
    color: white;
    text-align:center;
    padding: 12px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropdownbtn {
    background-color:orangered;
}

.active {
    background-color: orangered;
}

h2 {
    font-family:Tahoma;
}

#content1, #table1 {
    margin: 10%;
}

p{
    font-family:Tahoma;
}

#content {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    height: 639%;
    font-family: Tahoma;
}

#heading1, #heading2 {
   color:orangered;
   font-family: Tahoma;
   font-size:large;
   clear:left;
}

#subheading {
    color: #3D4146;
    font-family: Tahoma;
    font-size: large;
    clear: left;
}

#dateHeading {
    color:orangered;
    font-family:Tahoma;
    font-size:medium;
    clear:left;
    text-decoration:underline;
}

#newsStory {
    color: black;
    font-family: Tahoma;
    font-size: small;
    padding: 10px;
}


div.gallery:hover {
    box-shadow: #808080;
}

div.gallery img {
    width: 80%;
    height: auto;
}


* {
    box-sizing: border-box;
}

.backArrow1 {
    height: 50px;
    width: 50px;
    margin-top: 15px
}

.boxes {
    padding: 0 15px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 700px) {
    .boxes {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .boxes{
        width: 100%;
    }
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

#homeimg /*fix this!*/
{
    margin:5px;
    padding: 5px;
}

.objectiveTitle {
    font-family:Tahoma;
    position:absolute;
    top: 34px;
    left: 8px;
    font-size: 12px;
}

.workPlacementDesc{
    font-family:Tahoma;
    font-size: 12px;
} 

.dropdown {
    float: right;
    overflow: hidden;
    font-family: Tahoma;
}

.dropdown .dropdownbtn 
{
    font-size: 16px;
    border: none;
    outline:none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Tahoma;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #3D4146;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Tahoma;
}

    .dropdown-content a {
        float: none;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-family: Tahoma;
    }

.dropdown-content a:hover
{
    background-color: orangered;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}



input[type=text], input[type=password] {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 15px;
    margin: 0 34px 34px 30px;
    display: inline-block;
    background: #D0D3D4;
    font-family:Tahoma;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #808080;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    font-family: Tahoma;
}

.table {
    margin: auto;
    width: 60%;
    padding: 10px;
    font-family: Tahoma;
}

.submit {
    background-color: orangered;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 0.8;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    font-family:Tahoma;
}

.submit:hover {
    opacity: 1;
}

.submitupdates {
    background-color: orangered;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.8;
    display: block;
    margin-left: 55%;
    margin-right: 15%;
    font-family: Tahoma;
}

.submitupdates:hover {
    opacity: 1;
}

.updates {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    position: center;
    display: block;
    box-sizing: border-box;
    background-color: #808080;
    border: 3px solid #3D4146;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: Tahoma;
}

.updates:focus {
    border: 3px solid orangered;
}

a {
    color: dodgerblue;
}

.container-signin {
    text-align:center;
    font-family:Tahoma;
}

.label , .DateOfEnrichment , .Location , .CourseLbl , .EventLeadLbl , .TimeSpentLbl , .BehavioursLbl {
    font-weight: bold;
    font-family:Tahoma;
}

.label {
    margin-left:30px;
    font-family:Tahoma;
}

.label2 {
    margin-left:10px;
    font-family:Tahoma;
}

.regDrop {
    margin-left: 30px;
    font-family:Tahoma;
}

.ProfileText {
    font-size: 16px;
    font-family: Tahoma;
    text-align: center;
    text-decoration: none;
}

.mainbody {
    position: relative;
    width: 100%;
    font-family: Tahoma;
}

.test {
    position: absolute;
    top: 97px;
    left: 460px;
    width: 100%;
    font-family: Tahoma;
}

.oneMonth {
    position: absolute;
    top: 180px;
    left: 792px;
    width: 100%;
    font-family: Tahoma;
}
.throughout {
    position: absolute;
    top: 177px;
    left: 791px;
    width: 17%;
    font-family: Tahoma;
}

.week12 {
    position: absolute;
    font-family: Tahoma;
    top: 271px;
    left: 488px;
    width: 35%;
}

.finalMonth {
    position: absolute;
    font-family: Tahoma;
    top: 368px;
    left: 795px;
    width: 15%;
}

.objectives {
    position: absolute;
    font-family: Tahoma;
    z-index: 200;
    top: 66px;
    left: 4px;
    width: 18%;
    height: 108px;
}

.objectivesReview {
    font-family: Tahoma;
    z-index: 200;
    margin:20px;
    width: 50%;
    height: 100px;
}

.objectivesTitle2 {
    font-family:Tahoma;
    font-size:12px;
    position:absolute;
    margin:20px;
}

.extra2W {
    position: absolute;
    font-family: Tahoma;
    top: 100px;
    left: 268px;
    width: 15%;
    border-radius: 4px;
    background-color: #D0D3D4;
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.extra2W:hover {
    background-color:orangered;
    
}

.ukspecButton {
    font-family: Tahoma;
    border-radius: 4px;
    background-color: #D0D3D4;
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.ukspecButton:hover {
    background-color:orangered;
}

.extraThroughout {
    position: absolute;
    top: 193px;
    left: 905px;
    font-family: Tahoma;
    border-radius: 4px;
    background-color: #D0D3D4;
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.extraThroughout:hover {
    background-color:orangered;
}

.extrafinal {
    position: absolute;
    top: 384px;
    left: 905px;
    font-family: Tahoma;
    border-radius: 4px;
    background-color: #D0D3D4;
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.extrafinal:hover {
    background-color: orangered;
}

.test span, .oneMonth span, .throughout span, .week12 span, .finalMonth span {
    color: black;
    letter-spacing:-1px;
    background: rgb(0, 0, 0);
    background: #808080;
    padding: 10px;
}

.backArrow {
    position: absolute;
    top: 66px;
    left: 33px;
}

.backArrow:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.objUpdates {
    width: 70%;
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: solid 2px black;
    font-family: Tahoma;
    padding: 20px;
}


:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}


.obj {
    width: 600px;
}

.rows {
    background-color: #fff;
    font-family: Tahoma;
    font-size: 18px;
    color: #000;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
    padding: 5px;
}

.rows:hover{
    background-color: orangered;
    font-family: Tahoma;
    color: #fff;
    text-align: left;
}

.panelUpdate {
    position: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Tahoma;
}

.extra12week {
    position: absolute;
    top: 287px;
    font-family: Tahoma;
    left: 324px;
    border-radius: 4px;
    background-color: #D0D3D4;
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.extra12week:hover {
    background-color:orangered;
}

.column {
    float: left;
    width: 50%;
    padding: 0 5px;
    font-family: Tahoma;
}

.row {margin: 0 -5px}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width:100%;
        display:block;
        margin-bottom: 10px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin:auto;
    text-align:center;
    font-family:Tahoma;
    background-color: rgb(195,195,195);
}

.title {
    color: grey;
    font-size: 18px;
    font-family: Tahoma;
}

.dropdownapp {
    position:absolute;
    font-family:Tahoma;
    font-size: 14px;
    margin:10px;
    padding: 5px;
    top: 176px;
    left: 138px;
}

.placementInduction {
    position: absolute;
    font-family: Tahoma;
    left: 276px;
    top: 110px;
    border-radius: 4px;
    background-color: #D0D3D4;
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.placementInduction:hover {
    background-color: orangered;
}

.dropdownapp2 {
    position: absolute;
    font-family: Tahoma;
    font-size: 14px;
    margin: 10px;
    padding: 5px;
    top: 192px;
    left: 174px;
}

#behaviourMatrix {
    text-align: center;
    font-family: Tahoma;
    padding: 20px;
}

#generalComments {
    width: 200px;
    font-family: Tahoma;
}

.error {
    color: red;
    font-family:Tahoma;
    font-size: 16px;
    margin-left: 10px;
    position: absolute;
    position:absolute;
    top: 218px;
    left: 327px;
}

.answer {
    padding: 10px;
    font-family:Tahoma;
    font-size: 16px;
}

.EPAButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #D0D3D4;
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.EPAButton:hover {
    background-color: orangered;
}

#shortGoal, #mediumGoal, #longGoal, #stretchObj, #awards, #tools, #languages {
    width: 500px;
    border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 15px;
    margin: 0 34px 34px 30px;
    display: inline-block;
    background: #D0D3D4;
    font-family: Tahoma;
}
.apprenticeReview {
    font-family:Tahoma;
}

.table1 {
    font-family: Tahoma;
}

.placementInductionForm {
    font-family:Tahoma;
}

.jobDesc {
    width: 800px;
    height: 100px;
    border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 15px;
    margin: 0 34px 34px 30px;
    display: inline-block;
    background: #D0D3D4;
    font-family: Tahoma;
}

.description {
    font-family: Tahoma;
    margin: 10px;
    font-size:12px;
}

.timelineEPA {
    position: center;
    font-family: Tahoma;
}

.updateButton:link, .updateButton:visited {
    background-color: white;
    color: black;
    border: 2px solid orangered;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Tahoma;
}

.updateButton:hover, .updateButton:active {
    background-color: orangered;
    color: white;
    font-family: Tahoma;
}

.errormesg {
    position: absolute;
    font-family: Tahoma;
}